@import "tailwindcss";

@theme {
  --color-primary: hsl(0 85% 50%);
  --color-primary-hover: hsl(0 85% 40%);
  --color-secondary: hsl(210 15% 20%);
  --color-surface: hsl(210 15% 97%);
  --color-dark-bg: hsl(210 20% 12%);
  --color-dark-surface: hsl(210 18% 18%);
  --color-success: hsl(145 65% 40%);
  --color-warning: hsl(40 90% 55%);
  --color-danger: hsl(0 70% 55%);
}
