SECRET_KEY_BASE=
RAILS_MASTER_KEY=
SETUP_TOKEN=
FRANKMEGA_IMAGE_DIGEST=
HOST=mega.akitando.io
WEBAUTHN_ORIGIN=https://mega.akitando.io
WEBAUTHN_RP_ID=mega.akitando.io
ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY=
ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY=
ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT=
FORCE_SSL=true
STORAGE_PATH=/rails/storage/uploads
MAX_REQUEST_BODY=
SMTP_ADDRESS=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
